.bg-xby-linear {
    background: linear-gradient(90deg, #2c3e50, #4ca1af);
}

.h-100vh, .h-fullscreen {
    height: 100vh !important;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 50px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
    background: #111;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 1.8em;
    text-align: left;
    display: block;
    color: white;
}


.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.wrapper
{
    padding: 20px;

}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.example-1
{
    float: left;
    padding-top: 25px;
    width: 180px;
    height: 70px;
    font: 18px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(30, 144, 255, 0.6);
    border-radius: 5%;
    animation: shadow-pulse 1s infinite;
}



@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.section {
    padding-bottom: 30px;
    position: relative;
    border-bottom: none;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    padding: 1.25rem 0;
    border-top: 1px solid #f1f2f3;
    display: block;
}

.bg-white {
    background-color: #fff !important;
}

.pt-7, .py-7 {
    padding-top: 3rem !important;
}

.social a:last-child {
    margin-right: 0;
}

.social-bordered a {
    border: 1px solid #eaeff4;
}

.social-mn a {
    display: inline-block;
    width: 65px;
    height: 50px;
    line-height: 32px;
    margin-right: 4px;
    margin-bottom: 4px;
    text-align: center;
    color: inherit;
    font-size: 1rem;
    border-radius: 3px;
    opacity: .8;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}

.social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    margin-bottom: 4px;
    text-align: center;
    color: inherit;
    font-size: 1rem;
    border-radius: 3px;
    opacity: .8;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.nav.flex-column .nav-link {
    padding: 2px 0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link {
    color: #757575;
    font-weight: 400;
}

/*Hosted Masternode*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-hosting {
    background: linear-gradient(90deg, #2c3e50, #4ca1af);
    display: flex;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 0px;
    transform-style: preserve-3d;
}

.surface {
    animation: surfaceRotate 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(-45deg);
    will-change: transform;
}

.block {
    display: none;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
}

.block-inner > div, .plate {
    width: 40px;
    height: 40px;
}

.block-inner > div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    width: 40px;
    height: 40px;
}

.block-inner > div.front:before, .block-inner > div.back:before, .block-inner > div.left:before, .block-inner > div.right:before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
}

.block-inner > div.front:before, .block-inner > div.back:before {
    opacity: 0.2;
    animation: lighting 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

.block-inner > div.left:before, .block-inner > div.right:before {
    opacity: 0.4;
    animation: lighting 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate-reverse;
}

.block-outer, .block-inner {
    position: relative;
    width: 40px;
    transform-style: preserve-3d;
}

.block-inner {
    transform: rotateX(-90deg) translateZ(40px);
}

.back {
    transform: translateZ(-40px) rotateY(180deg);
}

.left {
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-40px);
}

.right {
    transform-origin: top right;
}

.top, .bottom {
    transform-origin: top center;
}

.b1 {
    display: inherit;
    transform: translate3d(160px, -200px, 40px);
}

.b1 .block-inner div {
    background-color: #173a8b;
}

.b1 .block-inner div.top, .b1 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b1 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b1 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b1 .block-inner div.front, .b1 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b1 .block-inner div.front {
    transform: translateZ(0px);
}

.b1 .block-inner div.left, .b1 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b1 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b2 {
    display: inherit;
    transform: translate3d(120px, -200px, 40px);
}

.b2 .block-inner div {
    background-color: #173a8b;
}

.b2 .block-inner div.top, .b2 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b2 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b2 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b2 .block-inner div.front, .b2 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b2 .block-inner div.front {
    transform: translateZ(0px);
}

.b2 .block-inner div.left, .b2 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b2 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b3 {
    display: inherit;
    transform: translate3d(80px, -200px, 40px);
}

.b3 .block-inner div {
    background-color: #173a8b;
}

.b3 .block-inner div.top, .b3 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b3 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b3 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b3 .block-inner div.front, .b3 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b3 .block-inner div.front {
    transform: translateZ(0px);
}

.b3 .block-inner div.left, .b3 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b3 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b4 {
    display: inherit;
    transform: translate3d(80px, -200px, 40px);
}

.b4 .block-inner div {
    background-color: #173a8b;
}

.b4 .block-inner div.top, .b4 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b4 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b4 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b4 .block-inner div.front, .b4 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b4 .block-inner div.front {
    transform: translateZ(0px);
}

.b4 .block-inner div.left, .b4 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b4 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b5 {
    display: inherit;
    transform: translate3d(40px, -200px, 40px);
}

.b5 .block-inner div {
    background-color: #173a8b;
}

.b5 .block-inner div.top, .b5 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b5 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b5 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b5 .block-inner div.front, .b5 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b5 .block-inner div.front {
    transform: translateZ(0px);
}

.b5 .block-inner div.left, .b5 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b5 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b6 {
    display: inherit;
    transform: translate3d(0px, -200px, 40px);
}

.b6 .block-inner div {
    background-color: #173a8b;
}

.b6 .block-inner div.top, .b6 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b6 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b6 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b6 .block-inner div.front, .b6 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b6 .block-inner div.front {
    transform: translateZ(0px);
}

.b6 .block-inner div.left, .b6 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b6 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b7 {
    display: inherit;
    transform: translate3d(160px, -120px, 40px);
}

.b7 .block-inner div {
    background-color: #173a8b;
}

.b7 .block-inner div.top, .b7 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b7 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b7 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b7 .block-inner div.front, .b7 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b7 .block-inner div.front {
    transform: translateZ(0px);
}

.b7 .block-inner div.left, .b7 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b7 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b8 {
    display: inherit;
    transform: translate3d(120px, -120px, 40px);
}

.b8 .block-inner div {
    background-color: #173a8b;
}

.b8 .block-inner div.top, .b8 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b8 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b8 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b8 .block-inner div.front, .b8 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b8 .block-inner div.front {
    transform: translateZ(0px);
}

.b8 .block-inner div.left, .b8 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b8 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b9 {
    display: inherit;
    transform: translate3d(80px, -120px, 40px);
}

.b9 .block-inner div {
    background-color: #173a8b;
}

.b9 .block-inner div.top, .b9 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b9 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b9 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b9 .block-inner div.front, .b9 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b9 .block-inner div.front {
    transform: translateZ(0px);
}

.b9 .block-inner div.left, .b9 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b9 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b10 {
    display: inherit;
    transform: translate3d(40px, -120px, 40px);
}

.b10 .block-inner div {
    background-color: #173a8b;
}

.b10 .block-inner div.top, .b10 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b10 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b10 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b10 .block-inner div.front, .b10 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b10 .block-inner div.front {
    transform: translateZ(0px);
}

.b10 .block-inner div.left, .b10 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b10 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b11 {
    display: inherit;
    transform: translate3d(0px, -120px, 40px);
}

.b11 .block-inner div {
    background-color: #173a8b;
}

.b11 .block-inner div.top, .b11 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b11 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b11 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b11 .block-inner div.front, .b11 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b11 .block-inner div.front {
    transform: translateZ(0px);
}

.b11 .block-inner div.left, .b11 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b11 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b12 {
    display: inherit;
    transform: translate3d(160px, -40px, 40px);
}

.b12 .block-inner div {
    background-color: #173a8b;
}

.b12 .block-inner div.top, .b12 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b12 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b12 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b12 .block-inner div.front, .b12 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b12 .block-inner div.front {
    transform: translateZ(0px);
}

.b12 .block-inner div.left, .b12 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b12 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b13 {
    display: inherit;
    transform: translate3d(120px, -40px, 40px);
}

.b13 .block-inner div {
    background-color: #173a8b;
}

.b13 .block-inner div.top, .b13 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b13 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b13 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b13 .block-inner div.front, .b13 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b13 .block-inner div.front {
    transform: translateZ(0px);
}

.b13 .block-inner div.left, .b13 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b13 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b14 {
    display: inherit;
    transform: translate3d(80px, -40px, 40px);
}

.b14 .block-inner div {
    background-color: #173a8b;
}

.b14 .block-inner div.top, .b14 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b14 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b14 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b14 .block-inner div.front, .b14 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b14 .block-inner div.front {
    transform: translateZ(0px);
}

.b14 .block-inner div.left, .b14 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b14 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b15 {
    display: inherit;
    transform: translate3d(80px, -40px, 40px);
}

.b15 .block-inner div {
    background-color: #173a8b;
}

.b15 .block-inner div.top, .b15 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b15 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b15 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b15 .block-inner div.front, .b15 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b15 .block-inner div.front {
    transform: translateZ(0px);
}

.b15 .block-inner div.left, .b15 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b15 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b16 {
    display: inherit;
    transform: translate3d(40px, -40px, 40px);
}

.b16 .block-inner div {
    background-color: #173a8b;
}

.b16 .block-inner div.top, .b16 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b16 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b16 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b16 .block-inner div.front, .b16 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b16 .block-inner div.front {
    transform: translateZ(0px);
}

.b16 .block-inner div.left, .b16 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b16 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b17 {
    display: inherit;
    transform: translate3d(0px, -40px, 40px);
}

.b17 .block-inner div {
    background-color: #173a8b;
}

.b17 .block-inner div.top, .b17 .block-inner div.bottom {
    width: 40px;
    height: 40px;
}

.b17 .block-inner div.top {
    transform: rotateX(-90deg) translateY(0px);
}

.b17 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(0px) translateZ(40px);
}

.b17 .block-inner div.front, .b17 .block-inner div.back {
    width: 40px;
    height: 40px;
}

.b17 .block-inner div.front {
    transform: translateZ(0px);
}

.b17 .block-inner div.left, .b17 .block-inner div.right {
    width: 40px;
    height: 40px;
}

.b17 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

.b18 {
    display: inherit;
    transform: translate3d(90px, -110px, 20px);
}

.b18 .block-inner div {
    background-color: #fff;
}

.b18 .block-inner div.top, .b18 .block-inner div.bottom {
    width: 20px;
    height: 20px;
}

.b18 .block-inner div.top {
    transform: rotateX(-90deg) translateY(20px);
}

.b18 .block-inner div.bottom {
    transform: rotateX(-90deg) translateY(20px) translateZ(20px);
}

.b18 .block-inner div.front, .b18 .block-inner div.back {
    width: 20px;
    height: 20px;
}

.b18 .block-inner div.front {
    transform: translateZ(-20px);
}

.b18 .block-inner div.left, .b18 .block-inner div.right {
    width: 20px;
    height: 20px;
}

.b18 .block-inner div.right {
    transform: rotateY(-270deg) translate3d(40px, 0, 0px);
}

/* Animations */
@keyframes lighting {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes surfaceRotate {
    from {
        transform: rotateX(45deg) rotateZ(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateZ(45deg);
    }
    to {
        transform: rotateX(45deg) rotateZ(135deg);
    }
}

.b1 > .block-outer {
    animation: b1Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b1Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, 40px, 0px);
    }
    to {
        transform: translate3d(-40px, 40px, 0px);
    }
}

.b2 .block-outer, .b5 .block-outer {
    animation: b2n5Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b2n5Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, 40px, 0px);
    }
    to {
        transform: translate3d(0px, 40px, 40px);
    }
}

.b3 .block-outer {
    animation: b3Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b3Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25%, to {
        transform: translate3d(0px, 40px, 0px);
    }
}

.b4 .block-outer {
    animation: b4Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b4Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, 40px, 0px);
    }
    to {
        transform: translate3d(0px, 40px, 80px);
    }
}

.b6 .block-outer {
    animation: b6Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b6Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, 40px, 0px);
    }
    to {
        transform: translate3d(40px, 40px, 0px);
    }
}

.b7 .block-outer {
    animation: b7Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b7Move {
    from, 25% {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-40px, 0px, 0px);
    }
}

.b8 .block-outer, .b10 .block-outer {
    animation: b8n10Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b8n10Move {
    from, 25% {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 80px);
    }
}

.b9 .block-outer {
    animation: b9Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b9Move {
    from, 25% {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 120px);
    }
}

.b11 .block-outer {
    animation: b11Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b11Move {
    from, 25% {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(40px, 0px, 0px);
    }
}

.b12 .block-outer {
    animation: b12Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b12Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, -40px, 0px);
    }
    to {
        transform: translate3d(-40px, -40px, 0px);
    }
}

.b13 .block-outer, .b16 .block-outer {
    animation: b13n16Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b13n16Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, -40px, 0px);
    }
    to {
        transform: translate3d(0px, -40px, 40px);
    }
}

.b14 .block-outer {
    animation: b14Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b14Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25%, to {
        transform: translate3d(0px, -40px, 0px);
    }
}

.b15 .block-outer {
    animation: b15Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b15Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, -40px, 0px);
    }
    to {
        transform: translate3d(0px, -40px, 80px);
    }
}

.b17 .block-outer {
    animation: b17Move 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes b17Move {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(0px, -40px, 0px);
    }
    to {
        transform: translate3d(40px, -40px, 0px);
    }
}

.b18 .block-outer, .b18 .block-inner > div:before {
    visibility: hidden;
}

.b18 .block-outer {
    animation: b18Move 3s linear infinite;
}

.b18 .block-inner > .right {
    transform-style: preserve-3d;
}

.b18 .block-inner > .right:after {
    background-image: radial-gradient(50% 50% at center, #fff 40%, rgba(255, 255, 255, 0));
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -66%) rotateX(45deg) rotateY(-45deg) scale(2, 2);
}

@keyframes b18Move {
    from, 29%, 71%, to {
        transform: translate3d(0px, 0px, 0px);
        visibility: hidden;
    }
    36% {
        transform: translate3d(0px, 0px, 40px);
        visibility: visible;
    }
    43% {
        transform: translate3d(80px, 0px, 40px);
    }
    50% {
        transform: translate3d(80px, 80px, 40px);
    }
    57% {
        transform: translate3d(0px, 80px, 40px);
    }
    64% {
        transform: translate3d(0px, 0px, 40px);
    }
}


/*Run Masternodes*/
.flex {
    display: flex;
}

/* Nodes */

.container-nodes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 2000px;
    transform: rotateX(-30deg) rotateY(-45deg);
}

.holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transform: translate3d(0em, 3em, 1.5em);
}

.holder:last-child {
    transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
}

.holder:first-child {
    transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
}

.holder:nth-child(1) .box {
    background-color: #1FBCD3;
}

.holder:nth-child(1) .box:before {
    background-color: #126d7a;
}

.holder:nth-child(1) .box:after {
    background-color: #1894a7;
}

.holder:nth-child(2) .box {
    background-color: #CBE2B4;
}

.holder:nth-child(2) .box:before {
    background-color: #98c66a;
}

.holder:nth-child(2) .box:after {
    background-color: #b2d48f;
}

.holder:nth-child(3) .box {
    background-color: #F6B6CA;
}

.holder:nth-child(3) .box:before {
    background-color: #eb5b88;
}

.holder:nth-child(3) .box:after {
    background-color: #f089a9;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: ani-box 6s infinite;
    width: 3em;
    height: 3em;
}

.box:before, .box:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

.box:before {
    left: 100%;
    bottom: 0;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
}

.box:after {
    left: 0;
    bottom: 100%;
    transform: rotateX(90deg);
    transform-origin: 0 100%;
}

@keyframes ani-box {
    8.33% {
        transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
        transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
        transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
        transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
        transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
        transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
        transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
        transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
        transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
        transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
        transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
}

/*First Boxes*/
html {
    background: #0C0019;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#redblocks > * {
    transform: translate3d(160px, -93px, 0);
    animation: moveblocks 4s 1s ease infinite;
}

@keyframes moveblocks {
    0% {
        transform: translate3d(160px, -93px, 0);
    }
    50%,
    100% {
        transform: translate(0);
    }
}

#firstBlock {
    transform: translate3d(160px, -93px, 0);
    animation: firstBlock 4s 1s ease infinite;
}

#blockdis {
    animation: blockdis 4s 1s ease infinite;
}

@keyframes blockdis {
    30% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
        transform: translate3d(-160px, 93px, 0);
    }
}

@keyframes firstBlock {
    0%,
    15% {
        opacity: 0;
    }
    40%,
    100% {
        opacity: 1;
    }
}

@for $i from 1 to 5 {
    #redblocksparticles g:nth-child(#{$i}) polygon {
        opacity: 0.35;
        animation: glow 4s 1s ease infinite;
    }
}
@for $i from 1 to 20 {
    #redblocksparticles g:nth-child(1) g circle:nth-child(#{$i}) {
        animation: dots 4s #{1000+$i*50} ms ease infinite;
    }

    #redblocksparticles g:nth-child(2) g circle:nth-child(#{$i}) {
        animation: dots 4s #{1000+$i*50} ms ease infinite;
    }

    #redblocksparticles g:nth-child(3) g circle:nth-child(#{$i}) {
        animation: dots 4s #{1000+$i*50} ms ease infinite;
    }

    #redblocksparticles g:nth-child(4) g circle:nth-child(#{$i}) {
        animation: dots 4s #{1000+$i*50} ms ease infinite;
    }
}
@keyframes glow {
    0%,
    45% {
        opacity: 0;
    }
    60%, 100% {
        opacity: 0.35;
    }
}

@keyframes dots {
    0%,
    35% {
        transform: translate(0);
        opacity: 0;
    }
    60%, 80% {
        transform: translate(55px, -35px);
        opacity: 1;
    }
    100% {
        transform: translate(55px, -35px);
        opacity: 0;
    }
}

@for $i from 1 to 22 {
    #purplebg > :nth-child(#{$i}) {
        animation: up 2s #{$i* 500} ms ease infinite alternate;
    }
}

@keyframes up {
    to {
        transform: translate(0, -25px);
    }
}

@for $i from 1 to 13 {
    #bottomparticles > :nth-child(#{$i}) {
        animation: particles 4s #{$i*300} ms ease infinite alternate, p 2s ease infinite alternate;
    }

    #bottomparticles2 > :nth-child(#{$i}) {
        animation: particles 4s #{$i*300} ms ease infinite alternate, p 2s ease infinite alternate;
    }

    #redglowparticles > :nth-child(#{$i}) {
        animation: particles 4s #{$i*300} ms ease infinite alternate, p 2s ease infinite alternate;
    }

}
@keyframes p {
    85%,
    100% {
        opacity: 0;
    }
}

@keyframes particles {
    0%, 100% {
        transform: translate(0);
    }
    50% {
        transform: translate(10px, 15px);
    }
}

.particlespoly {
    animation: p 2s ease infinite alternate;
}

@for $i from 1 to 4 {
    #d-app g:nth-child(#{$i}) {
        animation: updown 2s #{$i*200} ms ease-in-out infinite alternate;
    }
}
@for $i from 1 to 4 {
    #d-apps2 g:nth-child(#{$i}) {
        animation: updown 2s #{$i*200} ms ease-in-out infinite alternate;
    }
}
@for $i from 1 to 20 {
    #d-apps2wrapper g:nth-child(3) g > circle:nth-child(#{$i}) {
        animation: updown 2s #{$i*50} ms ease infinite alternate;
    }
}
@for $i from 1 to 20 {
    #d-appswrapper g:nth-child(2) g > circle:nth-child(#{$i}) {
        animation: updown 2s #{$i*50} ms ease infinite alternate;
    }
}


@keyframes updown {
    100% {
        transform: translate(0, -20px);
    }
}

#Layer_1 > g:nth-child(2) > g:nth-child(18) > g:nth-child(12) {
    animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}

@keyframes arrows {
    to {
        transform: translate(25px, 25px);
    }
}

#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(13) {
    animation: arrows2 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}

@keyframes arrows2 {
    to {
        transform: translate(-25px, -25px);
    }
}

#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(12) {
    animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}

